/* css styles */
/* Justificar texto apenas onde eu usar a classe .justify */
.justify,
.justify p,
.justify li {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  -webkit-hyphens: auto; /* Safari */
}
